<div class="container mt-5" >
  <%= form_with model: @quest, url: quest_path, method: :post, local: true do |f| %>
   <%= image_tag @quest.get_image(300,300), fallback: "noimage.jpg" %>
   <%= f.hidden_field :member_id, value: current_memgber.id %>
   <%= f.hidden_field :name, value: @quest.name %>
   <%= f.hidden_field :level, value: @quest.level_i18n %>
   <%= f.hidden_field :price, value: @quest.price %>
   <%= f.hidden_field :time, value: @quest.time %>
   <%= f.hidden_field :introduction, value: @quest.introducution %>
   <p>クエストがおわったらチェックしてもらってね！</p>
   <%= f.submit "クエストかんりょう", class: "btn btn-success" %>
  <% end %>
</div>