<div class="container my-5">

  <h2>Quests</h2>
  <% if @quests.count > 0 %>
    <div class="row">
      <% @quests.each do |quest| %>
        <div class="col-md-4">
          <div class="card">
            <%= image_tag quest.get_image(250,250), fallback: "noimage.jpg", class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title">
                <%= quest.name %>
              </h5>
              <div class="card-text">
                <div>
                  <%= quest.level_i18n %>
                </div>
                <div>
                  <%= quest.price.to_i.to_s(:delimited, delimiter: ',') %>Ｇ
                </div>
              </div>
            </div>
            <div class="card-footer">
              <%= @quests.status %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    Nothing... (T_T)
  <% end %>

  <div class="row">
    <div class="col">
      <h3 class="text-center my-5"><%= @member.nickname %>'s Member details</h3>
        <div class="col-md-6 mx-auto">
          <table class="table table-borderless">
            <tr>
              <th class="text-center">Member ID</td>
              <td><%= @member.id %></td>
            </tr>
            <tr>
              <th class="text-center">Nickname</th>
              <td><%= @member.nickname %></td>
            </tr>
            <tr>
              <th class="text-center">Birthday</th>
              <td><%= @member.birthday %></td>
            </tr>
            <tr>
              <th class="text-center">wallet</th>
              <td><%= @wallet %> G</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= link_to "Back", admin_members_path, class:"btn btn-primary" %>
              </td>
            </tr>

          </table>
      </div>
    </div>
  </div>
</div>