<div class="cotainer my-5">
  <div class="row">
    <div class=col>
      <div class="col-6 offset-3 mt-5">
        <h3>新しく登録する</h3>

        <%= form_with model: @member, url: member_registration_path, local: true do |f| %>

        <div class="field my-3">
          <%= f.label :"ニックネームをきめてね", class: "form-label mt-3" %><br>
          <%= f.text_field :nickname, autofocus: true, placeholder: "たろう", autocomplete: "nickname", class: "form-control" %>
          <!--autocomplete： "カラム名"とは自動で入力補助をしてくれる機能-->
        </div>

        <div class="field my-2">
          <%= f.label :"たんじょうびをとうろくしてね", class: "form-label mt-3" %><br>
          <%= raw sprintf(f.date_select( :birthday, prefix:'member', prompt:"えらんでください", use_month_numbers:true, start_year:Time.now.year, end_year:2000, date_separator:'%s'),'年','月')+'日' %>
        </div>

        <div class="actions mt-5 text-center">
          <%= f.submit "登録する", class: "btn btn-outline-secondary" %>
        </div>

        <% end %>

        <div class="mt-5">
          <h6 class="text-center">メンバー登録がすんでいる人は</h6>
          <p class="text-center"><%= link_to "こちら", member_session_path %>からログインしてね！</p>
        </div>

      </div>
    </div>
  </div>
</div>



