<div class="cotainer my-5">
  <div class="row">
    <div class=col>
      <div class="col-6 offset-3">
        <h3>ログインしてね</h3>
          <h6 class="my-3">メンバーはこちらからログイン</h6>

        <%= form_with model: @member, url: new_member_session_path, local: true do |f| %>

        <div class="field my-2">
          <%= f.label :"ニックネームを入力してね", class: "form-label mt-3" %><br>
          <%= f.text_field :nickname, autofocus: true, placeholder: "たろう", autocomplete: "nickname", class: "form-control" %>
          <!--autocomplete： "カラム名"とは自動で入力補助をしてくれる機能-->
        </div>


        <div class="actions my-2 text-center">
          <%= f.submit "ログイン", class: "btn btn-outline-secondary" %>
        </div>

        <% end %>

        <div>
          <h6 class="text-center">メンバーになってない人は</h6>
          <p class="text-center"><%= link_to "こちら", new_member_registration_path %>からログインしてね。</p>
        </div>

      </div>
    </div>
  </div>
</div>

