<div class="container">
  <h3 class="text-center my-5">Edit quest content</h3>
  <div class="row">
    <div class="col-8 offset-2 mb-5">
      <%= form_with model: @quest, url: admin_quest_path, local: true do |f| %>
      <table>
        <tr>
            <td class="form-group">
              <th><%= f.label :"Quest image" %></th>
              <td><%= f.file_field :quest_image, placeholder: "quest_image", accept: "image/*" %></td>
            </td>
          </tr>

        <tr>
          <div class="form-group">
            <%= f.label :"Quest Name", class: "form_label" %>
            <%= f.text_field :name, placeholder: "クエスト名", class: "form-control mb-3" %>
          </div>
        </tr>

        <tr>
          <div class="form-group">
           <%= f.label :"Level", class: "form_label" %>
           <%= f.radio_button :level, Quest.levels.key(0) %>
           <%= f.label :level, Quest.levels_i18n[:easy], value: Quest.levels.key(0) %>

           <%= f.radio_button :level, Quest.levels.key(1) %>
           <%= f.label :level, Quest.levels_i18n[:normal], value: Quest.levels.key(1) %>

           <%= f.radio_button :level, Quest.levels.key(2) %>
           <%= f.label :star, Quest.levels_i18n[:hard], value: Quest.levels.key(2) %>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <%= f.label :"Quest Reward", class: "form_label" %>
            <%= f.text_field :price %>  G
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <%= f.label :"Time Required", class: "form-label" %>
            <%= f.text_field :time, placeholder: "30" %>  minutes
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <%= f.label :"Explanatory Text", class: "form-label" %>
            <%= f.text_area :introduction, size: "50x5", placeholder: "ここに説明文を記述します", class: "form-control form-control-lg", type: "text" %>
          </div>
        </tr>

        <tr>
          <div class="row mt-4">
            <div class="form-inline mx-auto">
              <% if @quest.is_draft == true %>
                <%= f.submit "クエストを公開", :name => 'publicize_draft', class:'mr-5 btn btn-sm btn-warning' %>
                <%= f.submit "下書きを更新", :name => 'update_draft', class:'mr-5 btn btn-sm btn-outline-secondary' %>
              <% else %>
                <%= f.submit "クエストを更新", :name => 'update_post', class:'btn btn-sm btn-warning text-light' %>
              <% end %>
            </div>
          </div>
            <div class="mt-4 pb-3 text-center">
              <u><%= link_to "クエストを削除", admin_quest_path(@quest.id), method: :delete, data: {confirm: "このクエストを削除しますか？"}, class:'text-danger' %></u>
            </div>
        </tr>
      </table>
      <% end %>

    </div>
  </div>
</div>