<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <h3 class="header-title my-5">Enter new quest</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @quest, url: admin_quests_path, local: true do |f| %>
        <table>
          <tr>
            <td class="form-group">
              <th><%= f.label :"Quest image" %></th>
              <td><%= f.file_field :quest_image, placeholder: "quest_image", accept: "image/*" %></td>
            </td>
          </tr>
          <tr>
            <td class="form-group">
              <th><%= f.label :"Quest name" %></th>
              <td><%= f.text_field :name, placeholder: "クエスト名" %></td>
            </td>
          </tr>
          <tr>
            <td class="form-group">
              <th><%= f.label :level, "Quest level" %></th>
              <td>
                <%= f.radio_button :level, Quest.levels.key(0) %>
                <%= f.label :level, Quest.levels_i18n[:easy], value: Quest.levels.key(0) %>
                <%= f.radio_button :level, Quest.levels.key(1) %>
                <%= f.label :level, Quest.levels_i18n[:normal], value: Quest.levels.key(1) %>
                <%= f.radio_button :level, Quest.levels.key(2) %>
                <%= f.label :level, Quest.levels_i18n[:hard], value: Quest.levels.key(2) %>
              </td>
            </td>
          </tr>
          <tr>
            <td class="form-group">
              <th><%= f.label :"Quest reward" %></th>
              <td><%= f.text_field :price, placeholder: "100" %> G</td>
            </td>
          </tr>
          <tr>
            <td class="form-group">
              <th><%= f.label :"Time required" %></th>
              <td><%= f.text_field :time, placeholder: "30" %> minutes</td>
            </td>
          </tr>
          <tr>
            <td class="form-group">
              <th><%= f.label :"Explanatory text" %></th>
              <td><%= f.text_area :introduction, size: "50x5", placeholder: "ここに説明文を記述します" %></td>
            </td>
          </tr>
          <tr>
            <td class="form-group">
              <th>
                <%= f.submit "クエストを公開", name: 'post', class: 'mr-5 btn btn-sm btn-warning text-white' %>
                <%= f.submit "下書きに保存", name: 'draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
              </th>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>





















