<div class="container mt-5">
  <h3 class="mt-5 text-container">Quest details</h3>
  <div class="row align-items-start">

    <div class="col-lg">
      <%= image_tag @quest.get_image(300,400) %>
    </div>
    <div class="col-lg">
      <table class="table">
        <tr>
          <th>Quest name</th>
          <td><%= @quest.name %></td>
        </tr>
        <tr>
          <th>Quest level</th>
          <td><%= @quest.level_i18n %></td>
        </tr>
        <tr>
          <th>Quest reward</th>
            <td><%= @quest.price.to_i.round.to_s(:delimited) %>Ｇ</td>
        </tr>
        <tr>
          <th>Time required</th>
          <td><%= @quest.time %>分</td>
        </tr>
        <tr>
          <th>Explanatory text</th>
          <td><%= @quest.introduction %></td>
        </tr>
      </table>
    </div>
  </div>
    <p><%= link_to '編集する', edit_admin_quest_path(@quest.id), class: 'btn btn-outline-secondary' %></p>
</div>