<div class="container mt-5">
  <h3 class="text-center my-5">Quest details</h3>
  <div class="row align-items-center">

    <div class="col-lg">
      <%= image_tag @quest.get_image(300,400) %>
    </div>
    <div class="col-lg">
      <table class="table">
        <tr>
          <th>Quest Name</th>
          <td><%= @quest.name %></td>
        </tr>
        <tr>
          <th>Level</th>
          <td><%= @quest.level_i18n %></td>
        </tr>
        <tr>
          <th>Quest Reward</th>
            <td><%= @quest.price.to_i.round.to_s(:delimited) %>  G</td>
        </tr>
        <tr>
          <th>Time Required</th>
          <td><%= @quest.time %>  minutes</td>
        </tr>
        <tr>
          <th>Explanatory Text</th>
          <td><%= @quest.introduction %></td>
        </tr>
          <th><p><%= link_to 'To edit', edit_admin_quest_path(@quest.id), class: 'btn btn-primary' %></p></th>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>