<!DOCTYPE html>
<html>
  <head>
    <title>HelpWanted</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0d2b76896b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family='Itim', cursive, sans-serif" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <% if admin_signed_in? %>
          <%= link_to "HelpWanted!!", admin_root_path, class:"header-title navber-brand", :style=>"color:white; text-decoration:none;" %>
        <% else %>
          <%= link_to "HelpWanted!!", root_path, class: "header-title navbar-brand", :style=>"color:white; text-decoration:none;" %>
        <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <% if member_signed_in? %>
                <li class="nav-item-activ mr-5">
                  <span class="nav-link text-dark"><strong>Logging in  <%= current_member.nickname %></strong></span>
                </li>

                <li class="nav-item mr-2">
                  <%= link_to mypage_path, class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-user"></i>
                      My page
                  <% end %>
                </li>

                <li class="nav-item mr-2">
                  <%= link_to quests_histories_path, class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                      Histories
                  <% end %>
                </li>

                <li class="nav-item mr-2">
                  <%= link_to exchange_requests_path, class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-coins"></i><i class="fa-solid fa-rotate-left"></i>
                      Exchange Requests
                  <% end %>
                </li>

                <li class="nav-item mr-2">
                  <%= link_to root_path, class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-list"></i>
                      Quests list
                  <% end %>
                </li>

                <li class="nav-item mr-2">
                  <%= link_to logout_member_session_path, method: :delete, class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-right-from-bracket"></i>
                      Log out
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item mr-2">
                  <%= link_to admin_members_path, class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-users"></i>
                      Members list
                  <% end %>
                </li>

                <li class="nav-item mr-2">
                  <%= link_to admin_root_path, class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-list"></i>
                      Quests list
                  <% end %>
                </li>

                <li class="nav-item mr-2">
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-right-from-bracket"></i>
                      Log out
                  <% end %>
                </li>

              <% elsif %>
                <li class="nav-item mr-2">
                  <%= link_to about_path, class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-link"></i>
                      About
                  <% end %>
                </li>

                <li class="nav-item mr-2">
                  <%= link_to new_member_registration_path, class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-user-plus"></i>
                      Sign up
                  <% end %>
                </li>

                <li class="nav-item mr-2">
                  <%= link_to new_member_session_path, class: 'nav-link text-white' do %>
                    <i class="fas fa-sign-in-alt"></i>
                      Log in
                  <% end %>
                </li>
                
                <li class="nav-item mr-2">
                  <%= link_to new_admin_session_path, class: 'nav-link text-white' do %>
                    <i class="fas fa-sign-in-alt"></i>
                      Admin Log in
                  <% end %>
                </li>
                
                <li class="nav-item mr-2">
                  <%= link_to  member_guest_sign_in_path, class: 'nav-link text-black', method: :post do %>
                    <i class="fa-solid fa-person-circle-question"></i>
                      Guest Log in
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>

      </nav>
  </header>
  <% if notice %>
    <div class="alert alert-warning">
      <%= notice %>
    </div>
  <% end %>

  <%# flash.each do |message_type, message| %>
    <%#= message %>
  <%# end %>

  <%= yield %>
  <% if Rails.env.development? %>
    <div>admin: <%= current_admin.inspect %></div>
    <div>member: <%= current_member.inspect %></div>
  <% end %>
  <footer class="bg-info">
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
